---

const IMAGE_LIST: { [key: string]: string } = {
  mountains: 'landscape-mod.webp',
  none: ''
}

interface Props {
  image?: 'mountains' | 'none'
}

const { image } = Astro.props

const selectedImage = IMAGE_LIST[image || 'mountains']
const imageUrl = `url(/${selectedImage})`

---

<div class="landscape-image"></div>

<style define:vars={{ imageUrl }}>
  .landscape-image {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 320px;
    filter: brightness(0.8);
    opacity: 0.9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--imageUrl);
  }
</style>
