---
import Layout from '../layouts/Layout.astro';
import BookContainer from '../components/BookContainer.tsx';

import { PAGE_MAX_WIDTH } from '../constants/styles';

---

<Layout title="Home">
	<div class={`${PAGE_MAX_WIDTH} mx-auto mt-10 px-8 md:px-0`}>
		<BookContainer client:visible />
	</div>
</Layout>
