---
import { PAGE_MAX_WIDTH } from '../constants/styles'

const links = [
  {
    name: 'Books',
    href: '/',
  },
]

---

<header class="relative z-50 h-14 bg-gray-100">
  <div class={`flex items-center justify-between h-full ${PAGE_MAX_WIDTH} m-auto px-8 md:px-0`}>
    <h2 class="text-xl font-title font-semibold">MyLibrary.</h2>
    <nav>
      <ul>
          {
            links.map(({ href, name }) => (
              <li>
                <a href={href} class="p-2 rounded-md hover:bg-gray-200 font-title text-sm">{name}.</a>  
              </li>
            ))
          }
      </ul>
    </nav>
  </div>
</header>
